@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;

:root {
  @apply antialiased font-display bg-gray-900 text-white;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {

}

@tailwind utilities;
